dist: xenial  # required for Python >= 3.7
language: python
python:
  - 3.5
  - 3.6
  - 3.7

cache:
  pip: true
  directories:
    - $HOME/.cache/pypoetry

install:
  - pip install --upgrade pip
  - pip install poetry
  - poetry install
  - poetry add --dev codecov

script:
  - make test

after_success:
  - codecov

before_deploy:
  - poetry config http-basic.pypi "$PYPI_USERNAME" "$PYPI_PASSWORD"

deploy:
  provider: script
  script:
    - make publish
  on:
    python: 3.7
    tags: true

branches:
  only:
    - master
    - /^v\d+\.\d+.\d+([a-z]+\d+)?/
