[tool.poetry]
name = "nestargs"
version = "0.2.1"
description = "Nested arguments parser"
authors = ["Takahiro Yano <speg03@gmail.com>"]

readme = "README.md"
license = "MIT"

homepage = "https://github.com/speg03/nestargs"

keywords = ["argparse", "arguments", "parser", "cli", "command", "line", "interface"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.5"

[tool.poetry.dev-dependencies]
pytest = "^4.6"
pytest-cov = "^2.7"
flake8 = "^3.7"
isort = "^4.3"
yapf = "^0.27.0"
jedi = "^0.13.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
